/* Add CSS Styling */
.odd{
    background-color: #ed95a0;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#one{
    color: #252ff5;
    font-size: 36px;
}

.adjust-font{
    font-size: 24px;
}

#two{
    background-color: #87f067;
    font-size: 24px;
    font-weight: bold;
}